@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
}

/*
Estilos generales
*/

header {
    background: url(../images/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;
}

/*
Estilo de contenedor
*/
.container-primary {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #fd009c;
    padding: 20px 30px;
    background-color: rgb(6, 2, 2);
    box-shadow: 5px 5px 10px rgb(238, 127, 188);
    z-index: 2;
    width: inherit;
}

.fit-content {
    width: fit-content;
}

.title-section {
    background-image: linear-gradient(to right, #fd003f, #30a6f5);
    text-align: center;
    font-size: 2rem;
    position: sticky;
    width: fit-content;
    margin-bottom: 10px;
    top: 5px;
    z-index: 11;
    align-self: center;
}

.text {
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
}

.flex-end {
    align-self: flex-end;
}

.padding-left {
    padding-left: 100px;
}
.center-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    }
/*
Estilos de TEXTO
*/
.container-primary>p {
    margin-bottom: 10px;
}

.align-end {
    align-self: flex-end;
    padding-right: 150px;
}

h3 {
    color: whitesmoke;
}

.underline {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

h4 {
    color: black;
    margin-bottom: 10px;
    width: fit-content;
}

h1 {
    font-size: 4rem;
    padding: 10px 0px;
    text-align: center;
    background-image: linear-gradient(to right, #e7c103, #5fa199);
    width: fit-content;
}

article p,
div p,
section p,
li p, label {
    text-indent: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    color: whitesmoke;
    line-height: 1.8;
}

legend{
    margin-left: 5px;
    margin-top: 5px;
    color: whitesmoke;
    }
    fieldset{
         padding:10px 0px;
         padding-left:30px;
         margin-bottom: 10px;
    }
input{
    margin:10px;
}
input:focus{
    background-color: black;
    color:white;
    outline-color: #fd009c;
}
/*
Estilos de LISTAS
*/

ul.list-index {
    list-style-type: none;
    margin: 10px;
    width: 100%;
}

ul.list-rules {
    color: whitesmoke;
    list-style-type: circle;
    padding-left: 20px;
}

ol.list-rules {
    color: whitesmoke;
    padding-left: 20px;
}

li p {
    text-indent: 0px;
}

/*
Estilos de NAV y lINKS
*/
nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: min-content;
    background-color: black;
    border-bottom: 1px solid whitesmoke;
    padding:0 20px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a:link,
nav a:visited {
    color: white;
    background-color: #5fa199;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

nav a[href="#"] {
    color: white;
    text-decoration: none;
    background-color: rgb(253, 0, 139);
    padding: 5px;
    text-align: center;
    border: none;
    display: inline-block;
}

nav a:link:hover,
nav a:visited:hover {
    color: white;
    background-color: rgba(166, 44, 237, 0.788);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    transform: scale(1.2);
    transition: transform 0.5s;
}

#link-logo:hover {
    transform: rotate(360deg);
    transition: all 1s linear;
}

.contact {
    color: rgb(255, 225, 0);
    text-decoration: none;
}

nav a.registration-link:link,
nav a.registration-link:visited {
    color: rgb(5, 5, 5);
    background-color: #fefcfc;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border:1px solid rgb(253, 0, 139);
    box-shadow: 5px 5px 5px  rgb(253, 0, 139);
    text-align: center;
    margin: 10px;
    display: inline-block;
}
nav a.registration-link:link:hover,
nav a.registration-link:visited:hover {
    color: white;
    background-image: linear-gradient(to right, rgb(253, 0, 139), black);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px whitesmoke;
    text-align: center;
    margin: 10px;
    transform: scale(1.2);
    transition: transform 0.5s, background-image 0.5s;
}

nav a.registration-link[href="#"]{
    color: white;
    text-decoration: none;
    background-color: rgb(253, 0, 139);
    padding: 5px;
    box-shadow: none;
    text-align: center;
    border: none;
    display: inline-block;
}
/*
Estilos de  TABLAS
*/

table {
    width: 100%;
}

tr {
    height: 50px;
    color: white;
}

th {
    text-shadow: 1px 1px rgb(253, 0, 139);
}

td {
    text-align: center;
    color: white;
}

tr.selector:hover {
    background-color: #5fa199;

}

/*
Estilos de IMAGENES
*/
.logo {
    width: 100px;
    background-color: rgb(253, 0, 139);
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 20px;
    border: 1px solid pink;
    padding: 5px;
    z-index: 100;
    transition: all 1s linear;
}

.img-about {
    position: fixed;
    left: 20px;
    top: 320px;
    width: 250px;
    margin: 5px 20px 0px 0px;
    box-shadow: 5px 5px 5px rgb(238, 127, 188);
    border-radius: 0% 40% 0% 40%;
}

.img-home {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 250px;
    box-shadow: 5px 5px 5px rgb(238, 127, 188);
    border-radius: 0% 40% 0% 40%;
}

.img-contact {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 250px;
    margin: 5px 20px 0px 0px;
    box-shadow: 5px 5px 5px rgb(238, 127, 188);
    border-radius: 0% 40% 0% 40%;

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 50px;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #fd009c;

    /* Position the tooltip text - see examples below! */
    position: fixed;
    bottom: 110px;
    right: 40px;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

/*Definimos el marco del mapa*/
.maps {
    visibility: hidden;
    position: absolute;
    top: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*hacemos visible el mapa*/
.visual-map:hover .maps {
    visibility: visible;
    transition: all 0.5s linear;
}

iframe {
    width: 400px;
    height: 300px;
}