@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

header{
    background: url(../imagenes/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    position:relative;
    top:60px;
}

h1 {
  font-size: 3rem;
  position:relative;
  top:-55px;
}

.logo {
  width: 100px;
  position: relative;
  float:left;
  top: 200px;
  left: 20px;
  
 }

.titulo-seccion {
  background-color:white;
  color:black;
  text-align: center;
  border:1px solid black;
  position: relative;
  top:30px;

}
li {
    list-style-type: none;
    margin:10px;
}


nav a:link, nav a:visited {
    color:white;
    background-color:rgb(64, 64, 216);
    font-family: sans-serif;
    border:1px solid black;
    text-decoration: none;
    box-shadow: 5px 5px 5px lightgray;
    padding:5px

  }
  
  nav a[href="#"] {
    color: white;
   text-decoration: none;
   background-color:rgb(42, 170, 42);
   padding:5px;

  }
  a.mail{
    color:blue;
    text-decoration:underline black;
  }
  nav {
    width: fit-content;
    position: absolute;
    top:45px;
    left:1000px;
  }
  p {
    text-indent: 20px;
  } 
  .contenido-central {
    position: relative;
    margin-left: 200px;
    top: 50px;
    
  }
  
  .contenido-central>p {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .contenido-central p{
    width: 800px;
  }

  .img-about{
    width: 200px;;
    float: right;
    margin:5px 10px;
    position: relative;
    top:-150px;
    border-radius: 0% 40% 0% 40%;
    border:1px solid yellow;
  }
  .img-home{
    width: 200px;;
    float: right;
    position: relative;
    right:200px;
    top:-150px;
    right:400px ;
    border-radius: 0% 40% 0% 40%;
    border:1px solid yellow;
  }
  .img-contact{
    width: 200px;;
    float: right;
    right: 500px;
    position: relative;
    top:-60px;
    border-radius: 0% 40% 0% 40%;
    border:1px solid yellow;
  }