@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

header{
    background: url(../imagenes/design1_image2.jpg);
    background-size: cover;
    background-position: top;
    height: 200px;
   }

.logo{
  width:60px;

}

 h1{
  display:block;
  background-color: white;
  
}

.titulo-seccion{
    color: black;
    text-align: center;
    border:1px solid black;
}
li {
    list-style-type: none;
    margin:10px;
}

li.nav{
    list-style-type: none;
    margin: 5px;
    display: inline-block;
}

a:link, a:visited {
    color:white;
    background-color:rgb(64, 64, 216);
    font-family: sans-serif;
    border:1px solid black;
    text-decoration: none;
    box-shadow: 5px 5px 5px lightgray;
    padding:5px

  }
  
  a[href="#"]:link, a[href="#"]:visited {
    color: white;
   text-decoration: none;
   background-color:rgb(42, 170, 42);
   padding:5px;

  }
  a.mail{
    color:blue;
    background-color:transparent;
    border:0px;
    text-decoration:underline black;
  box-shadow:0px 0px 0px;
  }

  p {
    text-indent: 20px;
  } 