@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {

    background-image: linear-gradient(rgb(253, 0, 177), rgb(44, 2, 19));
}

main {
    background-color: whitesmoke;
    height: 100vh;
}

.text {
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
}

h1 {
    font-size: 4rem;
    padding: 10px 0px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #0000ff;
}

.logo {
    width: 100px;
    bottom: 5px;
    right: 10px;
    background-color: rgb(253, 0, 139);
    border-radius: 50%;
    position: fixed;
    border: 1px solid pink;
    padding: 5px;
    z-index: 100;
}

.titulo-seccion {
    background-image: linear-gradient(to right, rgb(255, 10, 243), rgb(162, 106, 236));
    text-align: center;
    font-size: 2rem;
    position: sticky;
    width: fit-content;
    top: 10px;
    transform: translateX(550px);
    z-index: 11;
}

li {
    list-style-type: none;
    margin: 10px;
}

nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    padding-top: 15px;
    z-index: 5;
    display: inline-block;
}

nav a:link,
nav a:visited {
    color: white;
    background-color: rgba(248, 239, 109, 0.788);
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;

}

nav a[href="#"] {
    color: white;
    text-decoration: none;
    background-color: rgb(253, 0, 139);
    padding: 5px;
    text-align: center;
    border: none;
}

nav a:link:hover,
nav a:visited:hover {
    color: white;
    background-color: rgba(166, 44, 237, 0.788);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;

}

#link-logo:hover {
    transform: rotate(90deg);
    transition: transform 1s;
}

a.mail {
    color: blue;
    text-decoration: underline black;
}

p {
    text-indent: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
}

.contenido-central {
    position: relative;
    margin-left: 200px;
    top: 50px;
    border-radius: 20px;
    padding: 10px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 5px 5px lightgrey;
    z-index: 2;
}

.contenido-central>p {
    margin-bottom: 10px;
}

.img-about {
    width: 250px;
    float: right;
    margin: 5px 10px;
    position: relative;
    right: 15px;
    top: -170px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 0% 40% 0% 40%;
    border: 1px solid yellow;
}

.img-home {
    width: 250px;
    float: right;
    position: relative;
    top: -150px;
    right: -300px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 0% 40% 0% 40%;
    border: 1px solid yellow;
}

.img-contact {
    width: 250px;
    float: right;
    position: relative;
    top: -50px;
    left: 280px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 0% 40% 0% 40%;
    border: 1px solid yellow;
}