@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(184, 136, 184);
}

/*
Estilos generales
*/

header {
    background: url(../images/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;
}

/*
Estilo de contenedor
*/
.contenido-central {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #f9fd00;
    padding: 20px 30px;
    background-color: rgb(6, 2, 2);
    box-shadow: 5px 5px 5px rgb(227, 238, 127);
    z-index: 2;
    width: inherit;
}

.fit-content {
    width: fit-content;
}

.titulo-seccion {
    background-image: linear-gradient(to right, #fd008b, #f5d230);
    text-align: center;
    font-size: 2rem;
    position: sticky;
    width: fit-content;
    margin-bottom: 10px;
    top: 5px;
    z-index: 11;
    align-self: center;
}

.flex-end {
    align-self: flex-end;
}

.padding-left {
    padding-left: 100px;
}

/*
Estilos de TEXTO
*/
.contenido-central>p {
    margin-bottom: 10px;
}

h3,
h4 {
    color: whitesmoke;
}

.text {
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
}


h1 {
    font-size: 4rem;
    padding: 10px 0px;
    text-align: center;
    background-image: linear-gradient(to right, #5fa199, #f82ee4);
    width: fit-content;
}

article p,
div p,
section p,
li p {
    text-indent: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    color: whitesmoke;
    line-height: 1.8;
}

/*
Estilos de LISTAS
*/

ul.lista-index {
    list-style-type: none;
    margin: 10px;
    width: 100%;
}

ul.list-rules {
    color: whitesmoke;
    list-style-type: circle;
    padding-left: 20px;
}

ol.list-rules {
    color: whitesmoke;
    padding-left: 20px;
}

li p {
    text-indent: 0px;
}

/*
Estilos de NAV y lINKS
*/
nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: min-content;
    background-color: black;
    border-bottom: 1px solid whitesmoke;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

nav a:link,
nav a:visited {
    color: white;
    background-color: #5fa199;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

nav a[href="#"] {
    color: white;
    text-decoration: none;
    background-color: rgb(253, 0, 139);
    padding: 5px;
    text-align: center;
    border: none;
    display: inline-block;
}

nav a:link:hover,
nav a:visited:hover {
    color: white;
    background-color: rgba(166, 44, 237, 0.788);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    transform: scale(1.2);
    transition: transform 0.5s;
}

#link-logo:hover {
    transform: rotate(90deg);
    transition: transform 1s;
}

a.mail {
    color: blue;
    text-decoration: underline black;
}

/*
Estilos de  TABLAS
*/

table {
    width: 100%;
}

tr {
    height: 50px;
    color: white;
}

td {
    text-align: center;
    color: white;
}

th,
td {
    border-bottom: 1px solid whitesmoke;
}

tr.selector:hover {
    background-color: #5fa199;

}

/*
Estilos de IMAGENES
*/
.logo {
    width: 100px;
    background-color: rgb(253, 0, 139);
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 10px;
    border: 1px solid pink;
    padding: 5px;
    z-index: 100;
}

.img-about {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 250px;
    margin: 5px 20px 0px 0px;
    box-shadow: 5px 5px 5px rgb(238, 231, 127);
    border-radius: 0% 40% 0% 40%;
    /* border: 1px solid yellow; */
}

.img-home {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 250px;
    box-shadow: 5px 5px 5px rgb(238, 231, 127);
    border-radius: 0% 40% 0% 40%;
    /* border: 1px solid yellow; */
}

.img-contact {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 250px;
    margin: 5px 20px 0px 0px;
    box-shadow: 5px 5px 5px rgb(238, 231, 127);
    border-radius: 0% 40% 0% 40%;
    /* border: 1px solid yellow; */
}